h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 75pt;
    color: white;
    background-color: red
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    color: white;
    background-color: red
}

body {
    background-image: url('vo.jpg');
  }

  @keyframes mover {
    0% { left: 0; }
    50% { left: 100px; }
    100% { left: 0; }
}

.texto-movendo {
    position: relative;
    animation: mover 4s infinite; /* Altere a duração conforme necessário */
}